* {

    font-family: 'Indie Flower', cursive;
}

body {
    animation: colorchange 5s infinite;
}

@keyframes colorchange {
    0% {
        background: rgb(3, 34, 169);
    }

    25% {
        background: rgb(75, 7, 185);
    }

    50% {
        background: rgb(31, 6, 106);
    }

    75% {
        background: rgb(0, 66, 128);
    }

    100% {
        background: rgb(18, 4, 71);
    }
}


header {
    position: fixed;
    top: 2%;
    left: 5%;
    width: 90%;
    z-index: 100;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left: 5px;
    border-radius: 10px;
    padding: 10px;
}

#container a {
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 60px;
    text-align: center;
    transition: transform 0.3s ease;
}

#container a:hover {
    cursor: pointer;
    transform: translateY(5px);
}


#logo {
    position: absolute;
    top: 4px;
    left: 115px;
    width: 70px;
    height: 70px;
  }


#twitter-button {
    background-color: white;
    margin-left: 60px;
    cursor: pointer;
    padding: 5px;
    background-color: #f19983;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#twitter-button img {
    width: 30px;
    height: 30px;

}

#twitter-button span {
    font-size: 26px;
    margin-left: 5px;
}

#twitter-button:hover {
    transform: translateY(5px);
}



#telegram-button {
    background-color: white;
    margin-left: 20px;
    cursor: pointer;
    padding: 5px;
    background-color: #f2e67e;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#telegram-button img {
    width: 30px;
    height: 30px;

}

#telegram-button span {
    font-size: 26px;
    margin-left: 5px;
}

#telegram-button:hover {
    transform: translateY(5px);
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
}

#section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: white;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
}

#dos {
    color: red;
}

#banner_principal {
    display: flex;
    justify-content: space-between;
}

#bloque2 img {
    width: 550px;
    height: 550px;
}

.red-text {
    color: red;
}

#bloque1 {
    padding: 20px;
    margin-left: 5%;
}

#bloque1 h1 {
    font-size: 50px;
}

#bloque2 {
    padding: 20px;
    margin-top: 5%;
}

#descr h3 {
    font-size: 30px;
}

#buy {
    background-color: white;
    margin-left: 20px;
    cursor: pointer;
    padding: 5px;
    width: 150px;
    background-color: #f19983;
    ;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#buy,
#chart,#check span {
    font-size: 26px;
}

#chart {
    background-color: white;
    margin-left: 20px;
    cursor: pointer;
    width: 150px;
    padding: 5px;
    background-color: #f2e67e;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#check {
    margin-left: 20px;
    cursor: pointer;
    width: 250px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: black;
}

#check  a{
    text-decoration: none;
    color: black;
}

#chart a{
    text-decoration: none;
    color: black;
}


#check:hover {
    transform: translateY(5px); 
    border: 2px solid white;
    
}

#buy:hover {
    transform: translateY(5px);
}

#chart:hover {
    transform: translateY(5px);
}

#imgs {
    margin-top: 5%;
}

#imgs img {
    width: 80%;
}

#welcome2,
#descr2 {
    color: black;
}

#descr2 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

#spidermilitar {
    height: 500px;
    width: 500px;
}

#bloque22 img {
    width: 450px;
    height: 522px;
    margin-top: -67px;
}

#bloque22 {
    padding: 20px;
    margin-top: 5%;
}

#welcome2 {
    margin-bottom: 0.5em;
}

#descr2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding-bottom: 10%;
}

#banner_principal2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#banner_principal2 h1 {
    font-size: 43px;
}

#banner_principal2 p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.photo-slider {
    position: relative;
    width: 100%;
    margin: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 169px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 24px;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#imagen-slider {
    width: 30%;
    object-fit: cover;
}

.photo-slider img {
    opacity: 1; 
    transition: opacity 0.5s ease; 
    max-width: 100%; 
}


.photo-slider{
    margin-top: 5%;
}